.class-wrapper {
    --sidebar-size: 369px;
    --folder-filter: 20px;

    width: 100%;
    height: calc(100vh - 56px);
    position: relative;
    display: flex;

    .sidebar-wrapper {
        width: var(--sidebar-size);
        height: 100%;
    }
    .rightside-wrapper {
        width: calc(100% - var(--sidebar-size));
        height: 100%;

        .folder-filter-wrapper {
            width: calc(100% - var(--sidebar-size));
            height: var(--folder-filter);
        }
        .content-wrapper {
            height: calc(100% - var(--folder-filter));
            overflow-y: auto;
        }
    }
}
