.post-screen-wrapper {
  
  .posts-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 50px;
  }
  .posts-description {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .folder-name {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: lightblue;
    width: fit-content;
    padding: 10px;
  }

  .edit-button {
    background-color: #0c5fab;
    margin-bottom: 20px;
  }

  .cancel-button {
    background-color: lightgray;
    margin-bottom: 20px;
    border: none;
  }
  
  .qv-container{
    background-color: lightgray;
    border-radius:10px;
    padding:10px;
  }
}
